*.mp4
InstallCommands.txt
.ipynb_checkpoints
.Trash-0
__pycache__
CombiningWithGospl.ipynb
PlateIdData/
PyvistaDemonstration.ipynb
Images/ClosestToLineCropped.png
Images/ClosestToLine.png
InitialisingEarth.py

NotebookTutorials/3Divergence/GosplRuns
NotebookTutorials/3Divergence/heightHistorySaves
NotebookTutorials/3Divergence/DeleteMe
NotebookTutorials/3Divergence/MinimumCrashRequirenments.ipynb
NotebookTutorials/3Divergence/Untitled.ipynb
NotebookTutorials/3Divergence/Ocean Floors.ipynb

!/NotebookTutorials/4Divergence/NotebookFiles/DivergenceProblem.mp4
NotebookTutorials/4UsingGospl/GeneratedInputFiles
NotebookTutorials/4UsingGospl/GosplOutput
NotebookTutorials/4UsingGospl/GosplOutput2
NotebookTutorials/4UsingGospl/GosplRuns
NotebookTutorials/4UsingGospl/ExampleGeneratedNPZfiles
NotebookTutorials/4UsingGospl/BFModelOutput
NotebookTutorials/4UsingGospl/TectonicEarthSaves
