*.mp4
InstallCommands.txt
.ipynb_checkpoints
.Trash-0
__pycache__
CombiningWithGospl.ipynb
PlateIdData/
PyvistaDemonstration.ipynb
Images/ClosestToLineCropped.png
Images/ClosestToLine.png
InitialisingEarth.py
NotebookTutorials/3UsingGospl/GeneratedInputFiles
NotebookTutorials/3UsingGospl/GosplOutput
NotebookTutorials/3UsingGospl/GosplOutput2
NotebookTutorials/3UsingGospl/GosplRuns
NotebookTutorials/3UsingGospl/ExampleGeneratedNPZfiles
NotebookTutorials/4Divergence/GosplRuns
NotebookTutorials/4Divergence/heightHistorySaves
