*.mp4
InstallCommands.txt
.ipynb_checkpoints
.Trash-0
__pycache__
CombiningWithGospl.ipynb
PlateIdData/
PyvistaDemonstration.ipynb
Images/ClosestToLineCropped.png
Images/ClosestToLine.png
InitialisingEarth.py
NotebookTutorials/3UsingGospl/GeneratedInputFiles

